jade/banquet.jade
extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Банкетный за<span class="last-letter">л</span></h1>
            .after-title-line.block-center
            .content-text
              h3 Банкетный зал «Аквамарин» - торжество с размахом
              p Намечается пышный праздник, в рамках которого планируется пригласить большое количество гостей? Банкетный зал «Аквамарин» — это именно то, что Вам !
              p Просторный зал рассчитан на вместимость до 200 человек. Поэтому в данном заведении провести многолюдную вечеринку или банкет с большим количеством приглашенных, не составит особого труда.
              p Комфортно разместиться и погрузиться в увлекающую обстановку торжественного мероприятия позволяют все технические и стилистические параметры данного заведения. Праздник, проведенный на таком уровне, запомнится и произведёт самые положительные впечатления на Ваших гостей.
              h3 Приглашать гостей в банкетный зал – это удобно, красиво и выгодно!
              p Организовывая мероприятие в банкетном зале «Аквамарин» можно воплотить любые идеи расстановки посадочных мест. Просторное помещение позволяет самые разные варианты рассадки, в зависимости от количества приглашенных персон. Планировка мебельного интерьера производится в соответствии с пожеланиями клиента. Персонал готов помочь идеями, в случае, если у заказчика не найдется своих интересных вариантов.
              p Изюминкой зала является уникальное панно, которое точно повторяет вид из окна одного из центральных ресторанчиков Парижа!
              p Помещение оснащено в соответствии с последним словом техники. Это дает прекрасную возможность организовать развлекательную программу различных форматов, независимо от степени сложности, будь то:
              ul
                li вечер с живой музыкой;
                li вечеринка с музыкальным сопровождением клубного формата;
                li строгая подача торжества с мелодичным фоном.
              p Несмотря на большое количество приглашенных в зале останется место для танцев и зажигательных конкурсов.
              p Организовать и провести банкет поможет персонал заведения - настоящие профессионалы своего дела,  которые сделают Ваш праздник ярким и интересным.
              h3 Организация банкета и меню
              p В комплексе «Аквамарин» работают настоящие мастера кулинарии. Они помогут составить меню для банкета любого уровня. Праздничный стол будет организован в соответствии со всеми пожеланиями клиента. В зависимости от тематики праздника, персонал предложит различные варианты сервировки стола и подачи праздничных блюд.
              p Устраивая торжество в банкетном зале можно рассчитывать на высшую оценку от приглашенных гостей. Праздник в заведении такого уровня будет солидным, запоминающимся и впечатляющим.
              p: i Банкетный зал «Аквамарин» рад открыть свои двери для вашей свадьбы, юбилея, Дня Рождения или корпоративной вечеринки.

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 9; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/banketnyj-zal-akvamarin-#{i + 1}.jpg" alt="slider photo")

build/banquet.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="carousel-wrap pr">
            <div class="carousel">
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-1.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-2.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-3.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-4.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-5.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-6.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-7.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-8.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/banketnyj-zal-akvamarin-9.jpg" alt="slider photo">
                </div>
            </div>
        </div>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block"><h1 class="head text-uppercase">Банкетный за<span class="last-letter">л</span></h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <h3>Банкетный зал «Аквамарин» - торжество с размахом</h3>
                                <p>Намечается пышный праздник, в рамках которого планируется пригласить большое количество гостей? Банкетный зал «Аквамарин» — это именно то, что Вам !</p>
                                <p>Просторный зал рассчитан на вместимость до 200 человек. Поэтому в данном заведении провести многолюдную вечеринку или банкет с большим количеством приглашенных, не составит особого труда.</p>
                                <p>Комфортно разместиться и погрузиться в увлекающую обстановку торжественного мероприятия позволяют все технические и стилистические параметры данного заведения. Праздник, проведенный на таком уровне, запомнится и произведёт самые положительные впечатления на Ваших гостей.</p>
                                <h3>Приглашать гостей в банкетный зал – это удобно, красиво и выгодно!</h3>
                                <p>Организовывая мероприятие в банкетном зале «Аквамарин» можно воплотить любые идеи расстановки посадочных мест. Просторное помещение позволяет самые разные варианты рассадки, в зависимости от количества приглашенных персон. Планировка мебельного интерьера производится в соответствии с пожеланиями клиента. Персонал готов помочь идеями, в случае, если у заказчика не найдется своих интересных вариантов.</p>
                                <p>Изюминкой зала является уникальное панно, которое точно повторяет вид из окна одного из центральных ресторанчиков Парижа!</p>
                                <p>Помещение оснащено в соответствии с последним словом техники. Это дает прекрасную возможность организовать развлекательную программу различных форматов, независимо от степени сложности, будь то:</p>
                                <ul>
                                    <li>вечер с живой музыкой;</li>
                                    <li>вечеринка с музыкальным сопровождением клубного формата;</li>
                                    <li>строгая подача торжества с мелодичным фоном.</li>
                                </ul>
                                <p>Несмотря на большое количество приглашенных в зале останется место для танцев и зажигательных конкурсов.</p>
                                <p>Организовать и провести банкет поможет персонал заведения - настоящие профессионалы своего дела,  которые сделают Ваш праздник ярким и интересным.</p>
                                <h3>Организация банкета и меню</h3>
                                <p>В комплексе «Аквамарин» работают настоящие мастера кулинарии. Они помогут составить меню для банкета любого уровня. Праздничный стол будет организован в соответствии со всеми пожеланиями клиента. В зависимости от тематики праздника, персонал предложит различные варианты сервировки стола и подачи праздничных блюд.</p>
                                <p>Устраивая торжество в банкетном зале можно рассчитывать на высшую оценку от приглашенных гостей. Праздник в заведении такого уровня будет солидным, запоминающимся и впечатляющим.</p>
                                <p><i>Банкетный зал «Аквамарин» рад открыть свои двери для вашей свадьбы, юбилея, Дня Рождения или корпоративной вечеринки.</i></p>
                            </div>
                            <div class="like-block visible-lg-block visible-md-block">
                                <div class="collapse-button no-select cur visiblily-block table-center"><span class="icon icon-heart-empty"></span></div>
                                <div class="hidden-like dn">
                                    <div data-url="www.test.ru" data-title="test name" class="social-likes">
                                        <div title="Поделиться ссылкой на Фейсбуке" class="facebook">Facebook</div>
                                        <div data-via="test" data-related="test " title="Поделиться ссылкой в Твиттере" class="twitter">Twitter</div>
                                        <div title="Поделиться ссылкой во Вконтакте" class="vkontakte">Вконтакте</div>
                                        <div title="Поделиться ссылкой в Одноклассниках" class="odnoklassniki">Одноклассники</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
