build/billiards.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="carousel-wrap pr">
            <div class="carousel">
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/biljardnaja-akvamarin-1.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/biljardnaja-akvamarin-2.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/biljardnaja-akvamarin-3.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/biljardnaja-akvamarin-4.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/biljardnaja-akvamarin-5.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/biljardnaja-akvamarin-6.jpg" alt="slider photo">
                </div>
            </div>
        </div>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block"><h1 class="head text-uppercase">Бильяр<span class="last-letter">д</span></h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <h3> Бильярдный клуб «Аквамарин» - комфорт для любителей и профессионалов</h3>
                                <p>На пышном торжестве всегда найдутся гости, которым захочется немного отстраниться от застолья и окунуться в захватывающую атмосферу игры. В комплексе «Аквамарин» имеется элитный бильярдный клуб.</p>
                                <p>Уединившись в зале, оборудованном для игры на бильярде, гости смогут:</p>
                                <ul>
                                    <li>отдохнуть от шума и праздничной суеты;</li>
                                    <li>погрузиться в увлекательную беседу, присев на удобные диванчики;</li>
                                    <li>ценители бильярда смогут сыграть несколько партий;</li>
                                    <li>поклонники игры смогут понаблюдать за захватывающим азартным зрелищем.</li>
                                </ul>
                                <p>При необходимости в бильярдной можно заказать алкогольные напитки, чтобы немного развеять напряженную атмосферу игры.</p>
                                <h3>Интерьер и атмосфера бильярдного клуба «Аквамарин»</h3>
                                <p>Клуб оборудован на высшем уровне. В наличии имеется пять 12ти футовых бильярдных столов и всё соответствующее оснащение. В помещении организовано профессиональное освещение, которое позволяет сосредоточиться на игре. Вместе с тем общая атмосфера зала располагает к спокойному отдыху и душевной разгрузке.</p>
                                <p>Приятный контраст зеленого сукна с окружающим интерьером, выдержанным в утонченном элитном стиле, настраивает на самый позитивный лад!</p>
                                <h3>Побалуйте себя игрой в бильярд!</h3>
                                <p>В бильярдном клубе имеется все необходимое для приятного и продуктивного времяпрепровождения. Любители взять в руки кий и раскатать партейку - другую , оценят отличную оснащенность зала и душевную атмосферу, царящую в нём. В нашем клубе понравится даже тем, кто не является большим знатоком игры. Усовершенствовать свое мастерство, можно прибегнув к помощи маркеров — профессионалов.</p>
                                <p>Устраивать торжество в заведении, где предоставляется такая уникальная возможность, как игра в бильярд, весьма креативно!</p>
                                <p><i>Ваши гости наверняка получат массу удовольствия и зарядятся позитивным настроем от игры в бильярдном клубе «Аквамарин».</i></p>
                            </div>
                            <div class="like-block visible-lg-block visible-md-block">
                                <div class="collapse-button no-select cur visiblily-block table-center"><span class="icon icon-heart-empty"></span></div>
                                <div class="hidden-like dn">
                                    <div data-url="www.test.ru" data-title="test name" class="social-likes">
                                        <div title="Поделиться ссылкой на Фейсбуке" class="facebook">Facebook</div>
                                        <div data-via="test" data-related="test " title="Поделиться ссылкой в Твиттере" class="twitter">Twitter</div>
                                        <div title="Поделиться ссылкой во Вконтакте" class="vkontakte">Вконтакте</div>
                                        <div title="Поделиться ссылкой в Одноклассниках" class="odnoklassniki">Одноклассники</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>

jade/billiards.jade
extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Бильяр<span class="last-letter">д</span></h1>
            .after-title-line.block-center
            .content-text
              h3  Бильярдный клуб «Аквамарин» - комфорт для любителей и профессионалов
              p На пышном торжестве всегда найдутся гости, которым захочется немного отстраниться от застолья и окунуться в захватывающую атмосферу игры. В комплексе «Аквамарин» имеется элитный бильярдный клуб.
              p Уединившись в зале, оборудованном для игры на бильярде, гости смогут:
              ul
                li отдохнуть от шума и праздничной суеты;
                li погрузиться в увлекательную беседу, присев на удобные диванчики;
                li ценители бильярда смогут сыграть несколько партий;
                li поклонники игры смогут понаблюдать за захватывающим азартным зрелищем.
              p При необходимости в бильярдной можно заказать алкогольные напитки, чтобы немного развеять напряженную атмосферу игры.
              h3 Интерьер и атмосфера бильярдного клуба «Аквамарин»
              p Клуб оборудован на высшем уровне. В наличии имеется пять 12ти футовых бильярдных столов и всё соответствующее оснащение. В помещении организовано профессиональное освещение, которое позволяет сосредоточиться на игре. Вместе с тем общая атмосфера зала располагает к спокойному отдыху и душевной разгрузке.
              p Приятный контраст зеленого сукна с окружающим интерьером, выдержанным в утонченном элитном стиле, настраивает на самый позитивный лад!
              h3 Побалуйте себя игрой в бильярд!
              p В бильярдном клубе имеется все необходимое для приятного и продуктивного времяпрепровождения. Любители взять в руки кий и раскатать партейку - другую , оценят отличную оснащенность зала и душевную атмосферу, царящую в нём. В нашем клубе понравится даже тем, кто не является большим знатоком игры. Усовершенствовать свое мастерство, можно прибегнув к помощи маркеров — профессионалов.
              p Устраивать торжество в заведении, где предоставляется такая уникальная возможность, как игра в бильярд, весьма креативно!
              p: i Ваши гости наверняка получат массу удовольствия и зарядятся позитивным настроем от игры в бильярдном клубе «Аквамарин».

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 6; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/biljardnaja-akvamarin-#{i + 1}.jpg" alt="slider photo")
