build/cafe.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="carousel-wrap pr">
            <div class="carousel">
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-1.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-2.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-3.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-4.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-5.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-6.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-7.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-8.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-9.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kafe-akvamarin-10.jpg" alt="slider photo">
                </div>
            </div>
        </div>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block"><h1 class="head text-uppercase">Каф<span class="last-letter">е</span></h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <h3>Кафе «Аквамарин» - приятный вечер и дружеская обстановка</h3>
                                <p>Устав от суетливых будней, стресса и рутинных домашних хлопот, так хочется отдохнуть в приятной непринужденной обстановке вместе с друзьями или близкими людьми.  Кафе «Аквамарин» с удовольствием предоставит Вам эту возможность!</p>
                                <h3>Внутренняя атмосфера кафе</h3>
                                <p>Дизайн интерьера выдержан в нежном прованском стиле. В каждой детали читается изыск и комфорт. Кафе оснащено в соответствии с последним словом техники:</p>
                                <ul>
                                    <li>проектор;</li>
                                    <li>караоке;</li>
                                    <li>профессиональное музыкальное оборудование;</li>
                                    <li>светомузыка.</li>
                                </ul>
                                <p>Оригинальное музыкальное оформление создает позитивный праздничный настрой. Площадь зала позволяет танцевать и проводить различные динамичные конкурсы. В целом в заведении царит дружеская теплая атмосфера, проникнувшись которой наверняка захочется вернуться в это место еще раз.</p>
                                <h3>Обслуживание и кухня</h3>
                                <p>Меню ресторана изобилует разными блюдами европейской кухни. Повара заведения удивят своих гостей самыми потрясающими и вкусными изысками. Любители десертов найдут для себя массу интересных вариантов сладких закусок.</p>
                                <p>При заказе учитываются все пожелания клиента. Любые просьбы и замечания обслуживающий персонал кафе не оставит без внимания!</p>
                                <h3>Приходите отдохнуть!</h3>
                                <p>Приглашаем посетить кафе «Аквамарин» всем желающим хорошо провести время и отдохнуть в компании друзей. Тихий романтический вечер или шумное яркое торжество, мы знаем, как организовать любое мероприятие в рамках нашего заведения.</p>
                                <p>Внутренняя площадь позволяет уместить до 80 человек, а интерьер позволяет насладиться вечером с высокой степенью комфорта. Выбирайте наше кафе для праздника и отдыха, для знаменательных торжеств или для вкусного ужина в хорошей компании.</p>
                                <p><i>Мы уверены, Вы получите лучшие впечатления от посещения кафе «Аквамарин»!</i></p>
                            </div>
                            <div class="like-block visible-lg-block visible-md-block">
                                <div class="collapse-button no-select cur visiblily-block table-center"><span class="icon icon-heart-empty"></span></div>
                                <div class="hidden-like dn">
                                    <div data-url="www.test.ru" data-title="test name" class="social-likes">
                                        <div title="Поделиться ссылкой на Фейсбуке" class="facebook">Facebook</div>
                                        <div data-via="test" data-related="test " title="Поделиться ссылкой в Твиттере" class="twitter">Twitter</div>
                                        <div title="Поделиться ссылкой во Вконтакте" class="vkontakte">Вконтакте</div>
                                        <div title="Поделиться ссылкой в Одноклассниках" class="odnoklassniki">Одноклассники</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>

jade/cafe.jade
extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Каф<span class="last-letter">е</span></h1>
            .after-title-line.block-center
            .content-text
              h3 Кафе «Аквамарин» - приятный вечер и дружеская обстановка
              p Устав от суетливых будней, стресса и рутинных домашних хлопот, так хочется отдохнуть в приятной непринужденной обстановке вместе с друзьями или близкими людьми.  Кафе «Аквамарин» с удовольствием предоставит Вам эту возможность!
              h3 Внутренняя атмосфера кафе
              p Дизайн интерьера выдержан в нежном прованском стиле. В каждой детали читается изыск и комфорт. Кафе оснащено в соответствии с последним словом техники:
              ul
                li проектор;
                li караоке;
                li профессиональное музыкальное оборудование;
                li светомузыка.
              p Оригинальное музыкальное оформление создает позитивный праздничный настрой. Площадь зала позволяет танцевать и проводить различные динамичные конкурсы. В целом в заведении царит дружеская теплая атмосфера, проникнувшись которой наверняка захочется вернуться в это место еще раз.
              h3 Обслуживание и кухня
              p Меню ресторана изобилует разными блюдами европейской кухни. Повара заведения удивят своих гостей самыми потрясающими и вкусными изысками. Любители десертов найдут для себя массу интересных вариантов сладких закусок.
              p При заказе учитываются все пожелания клиента. Любые просьбы и замечания обслуживающий персонал кафе не оставит без внимания!
              h3 Приходите отдохнуть!
              p Приглашаем посетить кафе «Аквамарин» всем желающим хорошо провести время и отдохнуть в компании друзей. Тихий романтический вечер или шумное яркое торжество, мы знаем, как организовать любое мероприятие в рамках нашего заведения.
              p Внутренняя площадь позволяет уместить до 80 человек, а интерьер позволяет насладиться вечером с высокой степенью комфорта. Выбирайте наше кафе для праздника и отдыха, для знаменательных торжеств или для вкусного ужина в хорошей компании.
              p: i Мы уверены, Вы получите лучшие впечатления от посещения кафе «Аквамарин»!

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 10; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/kafe-akvamarin-#{i + 1}.jpg" alt="slider photo")
