build/contact.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block">
                            <h1 class="head text-uppercase">Контакты</h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <div class="container-fluid text-left">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                            <p> Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст</p>
                                            <p> Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                            <p> Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>

jade/contact.jade
extends meta/_layout

block headerScript
  script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader")

block slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            h1.head.text-uppercase Контакты
            .after-title-line.block-center
            .content-text
              .container-fluid.text-left
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    p  Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст
                    p  Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст
                  .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    p  Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст

    .container
      .row
        .col-xs-12
          #map
