build/index.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="carousel-wrap pr">
            <div class="carousel">
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-1.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-2.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-3.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-4.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-5.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-6.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-7.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-8.jpg" alt="slider photo">
                </div>
                <div class="slider-image-wrap cur">
                    <div class="overlay"></div><img src="photo/kompleks-akvamarin-9.jpg" alt="slider photo">
                </div>
            </div>
        </div>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block"><h1 class="head text-uppercase">Аквамари<span class="last-letter">н</span></h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <h3>Аквамарин – развлекательный комплекс с атмосферой праздника</h3>
                                <p>Если в жизни двоих любящих сердец намечается долгожданное праздничное событие, самое время подыскать подходящее заведение для торжества.</p>
                                <p>Комплекс «Аквамарин» идеально подходит для проведения свадебного мероприятия. Название уже говорит о многом, ведь аквамарин считается камнем, символизирующим глубокие искренние чувства и верность. Выбор заведения с таким названием для проведения свадебного банкета можно считать хорошей приметой.</p>
                                <h3>Интерьер комплекса «Аквамарин»</h3>
                                <p>Внутренняя стилистика заведения настолько праздничная, что для проведения банкета не требуется дополнительно украшать залы. Интерьер выдержан в оригинальном изысканном стиле. Окунувшись в эту атмосферу уюта и гостеприимства можно отлично провести главное торжество в своей жизни, от которого останутся самые яркие и приятные впечатления.</p>
                                <h3>Услуги и меню:</h3>
                                <ul>
                                    <li>1. Банкетное меню составляется с учетом всех пожеланий и идей клиентов. Повара заведения могут предложить самые лучшие варианты горячих и закусочных блюд европейской кухни. Вкусно накормить гостей праздничным угощением можно на сумму от 1600 руб. на одного человека.</li>
                                    <li>2. Ассортимент алкогольных и безалкогольных напитков, который предлагается заказать в рамках банкета, довольно разнообразен. Заведение делает щедрую скидку на алкогольные напитки, которые закупаются в ресторане.</li>
                                    <li>3. Желающие закупить алкоголь самостоятельно, могут воспользоваться этой возможностью, предварительно обговорив этот момент с руководством комплекса.</li>
                                    <li>4. «Аквамарин» предоставляет уникальную возможность проведения деловых встреч, переговоров и конференций.</li>
                                </ul>
                                <p>Комплекс «Аквамарин» будет рад организовать и провести ваш свадебный банкет на самом высоком уровне. Мы знаем толк в организации незабываемых праздников. Воплотить самые невероятные и интересные идеи в нашем комплексе можно без труда.</p>
                                <p><i>Хотите свадьбу в Париже? Для нас нет ничего невозможного!</i></p>
                            </div>
                            <div class="like-block visible-lg-block visible-md-block">
                                <div class="collapse-button no-select cur visiblily-block table-center"><span class="icon icon-heart-empty"></span></div>
                                <div class="hidden-like dn">
                                    <div data-url="www.test.ru" data-title="test name" class="social-likes">
                                        <div title="Поделиться ссылкой на Фейсбуке" class="facebook">Facebook</div>
                                        <div data-via="test" data-related="test " title="Поделиться ссылкой в Твиттере" class="twitter">Twitter</div>
                                        <div title="Поделиться ссылкой во Вконтакте" class="vkontakte">Вконтакте</div>
                                        <div title="Поделиться ссылкой в Одноклассниках" class="odnoklassniki">Одноклассники</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>

jade/index.jade
extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Аквамари<span class="last-letter">н</span></h1>
            .after-title-line.block-center
            .content-text
              h3 Аквамарин – развлекательный комплекс с атмосферой праздника
              p Если в жизни двоих любящих сердец намечается долгожданное праздничное событие, самое время подыскать подходящее заведение для торжества.
              p Комплекс «Аквамарин» идеально подходит для проведения свадебного мероприятия. Название уже говорит о многом, ведь аквамарин считается камнем, символизирующим глубокие искренние чувства и верность. Выбор заведения с таким названием для проведения свадебного банкета можно считать хорошей приметой.
              h3 Интерьер комплекса «Аквамарин»
              p Внутренняя стилистика заведения настолько праздничная, что для проведения банкета не требуется дополнительно украшать залы. Интерьер выдержан в оригинальном изысканном стиле. Окунувшись в эту атмосферу уюта и гостеприимства можно отлично провести главное торжество в своей жизни, от которого останутся самые яркие и приятные впечатления.
              h3 Услуги и меню:
              ul
                li 1. Банкетное меню составляется с учетом всех пожеланий и идей клиентов. Повара заведения могут предложить самые лучшие варианты горячих и закусочных блюд европейской кухни. Вкусно накормить гостей праздничным угощением можно на сумму от 1600 руб. на одного человека.
                li 2. Ассортимент алкогольных и безалкогольных напитков, который предлагается заказать в рамках банкета, довольно разнообразен. Заведение делает щедрую скидку на алкогольные напитки, которые закупаются в ресторане.
                li 3. Желающие закупить алкоголь самостоятельно, могут воспользоваться этой возможностью, предварительно обговорив этот момент с руководством комплекса.
                li 4. «Аквамарин» предоставляет уникальную возможность проведения деловых встреч, переговоров и конференций.
              p Комплекс «Аквамарин» будет рад организовать и провести ваш свадебный банкет на самом высоком уровне. Мы знаем толк в организации незабываемых праздников. Воплотить самые невероятные и интересные идеи в нашем комплексе можно без труда.
              p: i Хотите свадьбу в Париже? Для нас нет ничего невозможного!

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 9; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/kompleks-akvamarin-#{i + 1}.jpg" alt="slider photo")
