build/news.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block"><h1 class="head text-uppercase">Новост<span class="last-letter">и</span></h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <div class="news-block">
                                    <div class="grand-news">
                                        <div class="row">
                                            <div class="col-lg-6"><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive"></div>
                                            <div class="col-lg-6">
                                                <h3 class="text-left mt0">Открытие нового банкетного зала</h3>
                                                <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.</p><a href="news_test.html" class="btn btn-main">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-wrap">
                                        <div class="row">
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                            <div class="col-lg-4 news-item">
                                                <h3>Обвинить вас в плагиате</h3><img src="img/img_grand_news.jpg" alt="news image" class="img-responsive">
                                                <p>Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.</p><a href="news_test.html" class="btn btn-main table-center">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav class="table-center">
                                    <ul class="pagination pagination-mod">
                                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">0</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>

jade/news.jade
extends meta/_layout

block slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Новост<span class="last-letter">и</span></h1>
            .after-title-line.block-center
            .content-text
              .news-block
                .grand-news
                  .row
                    .col-lg-6
                      img(src='img/img_grand_news.jpg' alt='news image').img-responsive
                    .col-lg-6
                      h3.text-left.mt0 Открытие нового банкетного зала
                      p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.
                      a(href="news_test.html").btn.btn-main Подробнее
                .news-wrap
                  .row
                    -for(var i = 0; i < 9; i++)
                      .col-lg-4.news-item
                        h3 Обвинить вас в плагиате
                        img(src='img/img_grand_news.jpg' alt='news image').img-responsive
                        p Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.
                        a(href="news_test.html").btn.btn-main.table-center Подробнее

              nav.table-center
                ul.pagination.pagination-mod
                  li
                    a(href="#" aria-label="Previous")
                      span(aria-hidden="true") &laquo;
                  li.active: a(href="#") 0
                  -for(var i = 0; i < 10; i++)
                    li: a(href="#") #{i + 1}
                  li
                    a(href="#" aria-label="Previous")
                      span(aria-hidden="true") &raquo;
