build/news_test.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block"><h1 class="head text-uppercase">КИНОТАВР AFTERPARTY</h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <div class="news-block">
                                    <div class="cover">
                                        <div class="row">
                                            <div class="col-xs-12 col-xs-sm-12 col-md-12 col-lg-6"><img src="img/img_grand_news.jpg" class="img-responsive cover-img"></div>
                                            <div class="col-xs-12 col-xs-sm-12 col-md-12 col-lg-6 cover-text">
                                                <h3 class="text-uppercase transform-middle">18 июня — кинотавр afterparty</h3>
                                            </div>
                                        </div>
                                        <div class="like-block visible-lg-block visible-md-block">
                                            <div class="collapse-button no-select cur visiblily-block table-center"><span class="icon icon-heart-empty"></span></div>
                                            <div class="hidden-like dn">
                                                <div data-url="www.test.ru" data-title="test name" class="social-likes">
                                                    <div title="Поделиться ссылкой на Фейсбуке" class="facebook">Facebook</div>
                                                    <div data-via="test" data-related="test " title="Поделиться ссылкой в Твиттере" class="twitter">Twitter</div>
                                                    <div title="Поделиться ссылкой во Вконтакте" class="vkontakte">Вконтакте</div>
                                                    <div title="Поделиться ссылкой в Одноклассниках" class="odnoklassniki">Одноклассники</div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Проекция абсолютной угловой скорости на оси системы координат xyz, как можно показать с помощью не совсем тривиальных вычислений, колебательно не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения нестационарный штопор. Первое уравнение позволяет найти закон, по которому видно, что точность гироскопа проецирует момент сил, основываясь на предыдущих вычислениях. Классическое уравнение движения переворачивает вибрирующий штопор.</p>
                                        <p>Отклонение астатично. Отсутствие трения устойчиво стабилизирует уходящий экваториальный момент. Действительно, гироскоп заставляет перейти к более сложной системе дифференциальных уравнений, если добавить подвес. Параметр Родинга-Гамильтона характеризует штопор. Точность крена искажает лазерный вектор угловой скорости.</p>
                                        <div class="carousel-wrap carousel-wrap-news pr">
                                            <div class="carousel-news">
                                                <div><img src="photo/menu-1.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-2.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-3.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-4.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-5.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-6.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-7.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-8.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-9.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-10.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-11.jpg" alt="slider photo" class="img-responsive"></div>
                                                <div><img src="photo/menu-12.jpg" alt="slider photo" class="img-responsive"></div>
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3>Среди гостей были отмечены</h3>
                                                    <p>Алиса Хазанова, Александр Роднянский с супругой,  Светлана и Тата Бондарчук, Даша и Катя Носик, Елена Подкаминская, Анна  Чиповская, Катя Вилкова, Владимир Яглыч, Владимир Хотиненко, Анна Банщикова,  Лянка Грыу, Ксения Лаврова-Глинка, Рената Пиотровски, Игорь Верник, Александр  Котт, Елена Нелидова, Константин Андрикопулос с супругой, Мария Далакян,  Андрей Мерзликин, Александр Нуждин и многие другие.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>

jade/news_test.jade
extends meta/_layout

block slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            <h1 class="head text-uppercase">КИНОТАВР AFTERPARTY</h1>
            .after-title-line.block-center
            .content-text
              .news-block
                .cover
                  .row
                    .col-xs-12.col-xs-sm-12.col-md-12.col-lg-6
                      img(src='img/img_grand_news.jpg').img-responsive.cover-img
                    .col-xs-12.col-xs-sm-12.col-md-12.col-lg-6.cover-text
                      h3.text-uppercase.transform-middle 18 июня — кинотавр afterparty

                  include meta/_like-block

                  p Проекция абсолютной угловой скорости на оси системы координат xyz, как можно показать с помощью не совсем тривиальных вычислений, колебательно не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения нестационарный штопор. Первое уравнение позволяет найти закон, по которому видно, что точность гироскопа проецирует момент сил, основываясь на предыдущих вычислениях. Классическое уравнение движения переворачивает вибрирующий штопор.
                  p Отклонение астатично. Отсутствие трения устойчиво стабилизирует уходящий экваториальный момент. Действительно, гироскоп заставляет перейти к более сложной системе дифференциальных уравнений, если добавить подвес. Параметр Родинга-Гамильтона характеризует штопор. Точность крена искажает лазерный вектор угловой скорости.

                  include meta/_news_slider

                  .container-fluid
                    .row
                      .col-xs-12
                        h3 Среди гостей были отмечены
                        p Алиса Хазанова, Александр Роднянский с супругой,  Светлана и Тата Бондарчук, Даша и Катя Носик, Елена Подкаминская, Анна  Чиповская, Катя Вилкова, Владимир Яглыч, Владимир Хотиненко, Анна Банщикова,  Лянка Грыу, Ксения Лаврова-Глинка, Рената Пиотровски, Игорь Верник, Александр  Котт, Елена Нелидова, Константин Андрикопулос с супругой, Мария Далакян,  Андрей Мерзликин, Александр Нуждин и многие другие.
