jade/reviews.jade
extends meta/_layout

block slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Отзыв<span class="last-letter">ы</span></h1>
            //- h1.head.text-uppercase Отзывы о ресторане <br> Аквамарин
            .after-title-line.block-center
            .content-text
              .container-fluid
                .row
                  .col-xs-12
                    button.pull-right.btn.btn-set-reviews(data-target="#modal-get-reviews" data-toggle="modal")
                      i.icon-comment-alt
                      |Оставить отзыв
              .container-fluid
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-8
                    .reviews-wrap
                      -for(var i = 0; i < 5; i++)
                        .reviews.container-fluid
                          .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-6
                              p.name.text-left.mt0
                                b Иван Иванов
                            .col-xs-12.col-sm-12.col-md-12.col-lg-6
                              p.time
                                b 27 марта 2015
                          .row
                            .col-xs-12
                              p Максимальное отклонение, в первом приближении, определяет альтиметр. Отсюда видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить нестационарный альтиметр. Инерциальная навигация даёт большую проекцию на оси, чем астатический момент. Вращение трансформирует альтиметр. Проекция, как можно показать с помощью не совсем тривиальных вычислений, горизонтальна.

block modal
  .modal.modal-mod.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-get-reviews
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header.pr
          span.close-button.cur(data-dismiss="modal" aria-label="Close")
        .modal-body
          .logo.table-center
            img(src='img/logo_header.png' alt='logo')
          p.title.text-uppercase.text-center.fz17 Оставить отзыв
          p.description.fz13.text-center Ваше мнение очень важно для нас
          form
            .container-fluid
              .row
                .col-xs-10.col-xs-offset-1
                  input(type="text" placeholder="Дата визита")
                  input(type="text" placeholder="Ваше имя")
                  input(type="text" placeholder="Ваш телефон")
            .container-fluid
              .row
                .col-xs-12
                  textarea(placeholder="Отзыв")
                  button(type="submit").btn-main.btn.table-center Отправить

build/reviews.html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Аквамарин</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body_can_zoom">
        <header class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="phone transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                            </ul>
                        </address>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="social-link pull-right transform-middle">
                            <ul class="lsn pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="co-xs-12">
                        <nav class="menu"><span data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role="menu" class="cur">Меню</span>
                            <div id="mobile-menu" class="collapse">
                                <ul class="lsn table-center clearfix pl0 mb0">
                                    <li class="pull-left"><a href="cafe.html" class="db fz16 text-uppercase no-underline">Кафе</a></li>
                                    <li class="pull-left"><a href="banquet.html" class="db fz16 text-uppercase no-underline">Банкетный зал</a></li>
                                    <li class="pull-left"><a href="billiards.html" class="db fz16 text-uppercase no-underline">Бильярд</a></li>
                                    <li class="pull-left"><a href="menu.html" class="db fz16 text-uppercase no-underline">Меню</a></li>
                                    <li class="pull-left"><a href="news.html" class="db fz16 text-uppercase no-underline">Новости</a></li>
                                    <li class="pull-left"><a href="reviews.html" class="db fz16 text-uppercase no-underline">Отзывы</a></li>
                                    <li class="pull-left"><a href="contact.html" class="db fz16 text-uppercase no-underline">Контакты</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="border-block"><h1 class="head text-uppercase">Отзыв<span class="last-letter">ы</span></h1>
                            <div class="after-title-line block-center"></div>
                            <div class="content-text">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button data-target="#modal-get-reviews" data-toggle="modal" class="pull-right btn btn-set-reviews"><i class="icon-comment-alt"></i>Оставить отзыв</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                            <div class="reviews-wrap">
                                                <div class="reviews container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="name text-left mt0"><b>Иван Иванов</b></p>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="time"><b>27 марта 2015</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <p>Максимальное отклонение, в первом приближении, определяет альтиметр. Отсюда видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить нестационарный альтиметр. Инерциальная навигация даёт большую проекцию на оси, чем астатический момент. Вращение трансформирует альтиметр. Проекция, как можно показать с помощью не совсем тривиальных вычислений, горизонтальна.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reviews container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="name text-left mt0"><b>Иван Иванов</b></p>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="time"><b>27 марта 2015</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <p>Максимальное отклонение, в первом приближении, определяет альтиметр. Отсюда видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить нестационарный альтиметр. Инерциальная навигация даёт большую проекцию на оси, чем астатический момент. Вращение трансформирует альтиметр. Проекция, как можно показать с помощью не совсем тривиальных вычислений, горизонтальна.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reviews container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="name text-left mt0"><b>Иван Иванов</b></p>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="time"><b>27 марта 2015</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <p>Максимальное отклонение, в первом приближении, определяет альтиметр. Отсюда видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить нестационарный альтиметр. Инерциальная навигация даёт большую проекцию на оси, чем астатический момент. Вращение трансформирует альтиметр. Проекция, как можно показать с помощью не совсем тривиальных вычислений, горизонтальна.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reviews container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="name text-left mt0"><b>Иван Иванов</b></p>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="time"><b>27 марта 2015</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <p>Максимальное отклонение, в первом приближении, определяет альтиметр. Отсюда видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить нестационарный альтиметр. Инерциальная навигация даёт большую проекцию на оси, чем астатический момент. Вращение трансформирует альтиметр. Проекция, как можно показать с помощью не совсем тривиальных вычислений, горизонтальна.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reviews container-fluid">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="name text-left mt0"><b>Иван Иванов</b></p>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                            <p class="time"><b>27 марта 2015</b></p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <p>Максимальное отклонение, в первом приближении, определяет альтиметр. Отсюда видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить нестационарный альтиметр. Инерциальная навигация даёт большую проекцию на оси, чем астатический момент. Вращение трансформирует альтиметр. Проекция, как можно показать с помощью не совсем тривиальных вычислений, горизонтальна.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 visible-lg-block visible-md-block">
                        <div class="time transform-middle">
                            <p class="text-uppercase">Четверг, 26 мар</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6 mobile-height">
                        <div class="logo table-center transform-middle"><a href="index.html"><img src="img/logo_header.png" alt="logo"></a></div>
                    </div>
                    <div class="col-md-4 col-lg-3 mobile-height">
                        <address class="contact transform-middle">
                            <ul class="lsn pl0 mb0">
                                <li><span class="icon icon-phone"></span>+7 (861) 231-47-26</li>
                                <li><span class="icon icon-mobile"></span>+7 (918) 113-99-11</li>
                                <li><span class="icon icon-home"></span>г. Краснодар,</li>
                                <li>Ставропольская 336/3</li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="copyright transform-middle">
                            <p>© 2015 AKVAMARIN</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mobile-height">
                        <div class="social-link transform-middle">
                            <ul class="clearfix lsn table-center pl0 mb0">
                                <Li class="pull-left"><a href="https://www.facebook.com/akvamarin.krd" target="_blank" class="db no-underline"><span class="icon icon-facebook"></span></a></Li>
                                <Li class="pull-left"><a href="http://vk.com/akvamarinkr" target="_blank" class="db no-underline"><span class="icon icon-vkontakte"></span></a></Li>
                                <Li class="pull-left"><a href="https://instagram.com/akvamarin.krd/" target="_blank" class="db no-underline"><span class="icon icon-instagram"></span></a></Li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div tabindex="-1" role="dialog" aria-hidden="true" id="modal-get-reviews" class="modal modal-mod fade">
            <div class="modal-dialog">
                <div class="modal-content no-box-shadow">
                    <div class="modal-header pr"><span data-dismiss="modal" aria-label="Close" class="close-button cur"></span></div>
                    <div class="modal-body">
                        <div class="logo table-center"><img src="img/logo_header.png" alt="logo"></div>
                        <p class="title text-uppercase text-center fz17">Оставить отзыв</p>
                        <p class="description fz13 text-center">Ваше мнение очень важно для нас</p>
                        <form>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <input type="text" placeholder="Дата визита">
                                        <input type="text" placeholder="Ваше имя">
                                        <input type="text" placeholder="Ваш телефон">
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <textarea placeholder="Отзыв"></textarea>
                                        <button type="submit" class="btn-main btn table-center">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/social-likes.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
